src/main/resources/schemas/registration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://university.com/registration"
           xmlns:tns="http://university.com/registration"
           elementFormDefault="qualified">

    <!-- Request -->
    <xs:element name="RegisterCourseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="studentId" type="xs:long"/>
                <xs:element name="courseId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Response -->
    <xs:element name="RegisterCourseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="statusMessage" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
